<h1 class="page-header">Learning Quizzes</h1>
<%= link_to "Add New Quiz", new_quiz_path, class: "btn btn-primary new-vid-button" %>

<% @quizzes.each do |quiz| %>
	<div class="row">
		<div class="col-sm-12">
			<h4><%= quiz.name %> &nbsp;<span style="font-size:.65em;">( <%= link_to "Edit", edit_quiz_path(quiz) %> )</span></h4>
		</div>
	</div>
	<div class="well well-sm">
		
		<% quiz.questions.each do |question| %>
			<div class="row">
				<h5 style="padding-left:20px;"><%= question.name %></h5>
			</div>
			<div class="row">
				<ul style="padding-left: 50px;">
				<% question.answers.each do |answer| %>
					<li style="<% if answer.correct %>color:green;<% end %>"><%= answer.name %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		
	</div>
	<br />

<% end %>