<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div align="center">
      <br /><br />
      <img src="https://www.thinmanager.com/images/logo-thinmanager.png" width="166.5" height="132" /><br />
      <h4 style="margin-bottom: 0px;">Thank You For Registering</h4>
      <h1 style="margin-top: 4px; margin-bottom: 35px;"><%= @event.name %></h1>
      
      
      <h4 style="margin-bottom: 0px;">Event Description</h4>
      <p style="max-width:500px; padding: 0px 20px;"><%= @event.description %></p>
      <br /><br />

      <div style="width:90%; max-width: 500px; padding: 10px 20px 20px 20px; background-color: #E6E6E6; border-radius: 20px; margin-bottom: 55px;">
        <h4 style="margin-bottom: 0px; text-decoration: underline;">Event Details</h4>
        <p><%= @event.time.to_s(:time_display) if @event.time %></p>
        <p><%= @event.venues.last.name %><br /><%= @event.venues.last.street %><br /><%= @event.venues.last.city %>, <%= @event.venues.last.state %> <%= @event.venues.last.zipcode %></p>
      </div>

      <p style="max-width:500px; padding: 0px 20px; font-size: .9em;">If for any reason you did not intend to register for this event,<br />please <a href="mailto:info@thinmanager.com">contact&nbsp;us</a>.</p>
    </div>
  </body>
</html>