<h1 class="page-header"><%= "#{@user.firstname}" " " "#{@user.lastname}" %></h1>
<h3><%= "#{@user.company}" %><span style="font-size: .7em;"> -- <%= link_to "#{@user.email}", url_for("mailto:#{@user.email}") %></span></h3>

<br /><br />
<h4 class="page-header">Videos Watched &nbsp;<span style="font-size:.7em;">(count: <%= @user.videos.count if @user.videos.any? %>)</h4>
<% if @user.videos.any? %>
	<% @user.videos.each do |video| %>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="well well-sm">
					<%= video.name %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<br /><br />
<h4 class="page-header">Quizes Completed &nbsp;<span style="font-size:.7em;">(count: <%= @user.quizzes.count if @user.quizzes.any? %>)</span></h4>
<% if @user.quizzes.any? %>
	<% @user.quizzes.each do |quiz| %>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="well well-sm">
					<%= quiz.name %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<br /><br />
<h4 class="page-header">Badges Earned</h4>
<% if @badge != nil %>
	<div class="row">
	<div class="col-sm-2 col-sm-offset-2 show-page-badge">
		<% if @badge.productivity %>
			<%= image_tag("badge-productivity.png") %>
		<% end %>
	</div>
	<div class="col-sm-2 show-page-badge">
		<% if @badge.visualization %>
			<%= image_tag("badge-visualization.png") %>
		<% end %>
	</div>
	<div class="col-sm-2 show-page-badge">
		<% if @badge.security %>
			<%= image_tag("badge-security.png") %>
		<% end %>
	</div>
	<div class="col-sm-2 show-page-badge">
		<% if @badge.mobility %>
			<%= image_tag("badge-mobility.png") %>
		<% end %>
	</div>
	</div>
<% elsif @badge != nil && (!@badge.productivity && !@badge.visualization && !@badge.security && !@badge.mobility) %>
	<p align="center" style="color:darkorange;">No Badges Earned yet.</p>
<% else %>
	<p align="center" style="color:darkorange;">No Badges Earned yet.</p>
<% end %>
<br /><br /><br />
<p align="center">[<%= link_to "Return To All Users", users_path %>]</p>
