<h1 class="page-header" style="margin-bottom: 5px;"><%= @video.name %></h1>
<%= link_to "Main Dashboard", dashboard_path, class: "btn btn-primary to-dashboard-button" %>
<% if @video.categories.any? %>
	<p>Categories: &nbsp;<%= render @video.categories %></p>
<% end %>
<br />
<div class="row">
<div class="col-md-8 video-frame">
	<iframe id="player" width="900" height="500" src=<%= "#{@video.url}" + "&modestbranding=1&autoplay=1" %> frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-4">
<h4>Resources</h4>
<div class="lesson-resources">
<div class="resource"><a href="http://www.thinmanager.com/kb/index.php/Special:AllPages"><div class="well well-sm"><%= image_tag("icon-kb.png") %><span class="appear-sooner"><br /></span><span class="need-space">Knowledge Base</span></div></a></div>
<div class="resource"><a href="http://www.thinmanager.com/support/manuals/"><div class="well well-sm"><%= image_tag("icon-manuals.png") %><span class="appear-sooner"><br /></span><span class="need-space">Manuals</span></div></a></div>
<div class="resource"><a href="http://www.thinmanager.com/media/index.php#whitePapers"><div class="well well-sm"><%= image_tag("icon-whitepapers.png") %><span class="appear-sooner"><br /></span><span class="need-space">White Papers</span></div></a></div>
<div class="resource"><a href="https://downloads.thinmanager.com"><div class="well well-sm"><%= image_tag("icon-downloads.png") %><span class="appear-sooner"><br /></span><span class="need-space">Downloads</span></div></a></div>
</div>
</div>
</div>
<hr style="margin-top: 45px; margin-bottom: 25px;" />
<h4>Take Quiz</h4>
<% if @quizzes != nil %>
	
	<%= render 'quiz_form' %>

	
	
<% else %>
	
	<p style="color:orange;">There is currently no quiz for this lesson</p>

<% end %>

<script type="text/javascript">

$("#player").on('load', function() {
<%
	# add user_video save here.
	@vidquery = UserVideo.where(user_id: @user.id, video_id: @video.id)
    if @vidquery != []
        
    else
    	@user_video = UserVideo.new(user_id: @user.id, video_id: @video.id)
        if @user_video.save
            
        else
            flash[:danger] = "There was a problem saving your video."
            redirect_to video_path(@video)
        end
    end
%>
});

</script>

