<% obj.each do |event| %>
<% if event.endtime == nil || event.time >= DateTime.current - 4.days  %> 
    
    
<div align="center">
    <div class="col-md-4" style="margin-bottom: 25px;">

    <div class="well well-sm event-card">
        <div class="row">
            <div class="col-md-12">
                <h4 style="margin-bottom:0px;"><%= link_to "#{event.name}", event_path(event) %></h4>

            </div>
        </div>
        <div class="event-card-image">
        <% if event.eventcats.last.name == "Roadshows" %>
            <%= link_to image_tag("roadshowgraphic.jpg"), event_path(event), alt: event.name %>
        <% elsif event.eventcats.last.name == "Webinars" %>
            <%= link_to image_tag("webinargraphic.jpg"), event_path(event), alt: event.name %>
        <% elsif event.eventcats.last.name == "Trainings" %>
            <%= link_to image_tag("traininggraphic.jpg"), event_path(event), alt: event.name %>
        <% else %>
            <%= link_to image_tag("meetinggraphic.jpg"), event_path(event), alt: event.name %>
        <% end %>
        </div>
        <div class="row">    
            <div class="col-md-12">
                <% if event.cost == nil || event.cost == 0 %>
                    <p class="event-cost">Complimentary Event</p>
                <% else %>
                    <p class="event-cost">Event Cost: <span style="font-weight:bold;">$<%= event.cost %></span></p>
                <% end %>
            </div>
        </div>


        <hr style="margin-top: 0px;" />


        <div class="row">
            <div class="col-md-12">
                <p style="font-weight:bold;">
                <% if event.time %>    
                    <%= event.time.to_s(:time_display) %></p>
                <% else %>
                    <%= "No Date has been set for this event" %> 
                <% end %>
                <% if event.venues.any? %>
                <p style="margin-top:-12px;"><%= link_to "#{event.venues.last.name}", venue_path(event.venues.last) %></p>
                <% else %>
                <p style="margin-top:-12px;">Location Yet to be Determined</p>
                <% end %>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p><%= truncate(event.description, length: 75) %></p>
                <% if (logged_in? && current_user.admin?) || (logged_in? && current_user.evtadmin?) %>
                <p class="small">
                
                capacity: <%= event.capacity %> &nbsp;&nbsp;|&nbsp;&nbsp; currently registered:&nbsp; <%= EventAttendee.where(:event_id => event.id).count %></p>
                <% end %>
            </div>
        </div>
        
        <% if event.eventcats.any? %>
            <p><%= render event.eventcats %>&nbsp;</p>
        <% end %>

        <hr style="margin-top:5px; margin-bottom:8px;" />

        <div class="row action-buttons">
        
            <div class="col-md-12 ">
                <% @registered = EventAttendee.where(:event_id => event.id) %>
            <% if event.capacity != nil %>    
                <% if !@registered.any? || @registered.count < event.capacity %>
                    <%= link_to "Register", new_attendee_path(:event_id => event.id), class: "btn btn-primary btn-sm" %> 
                <% elsif @registered.any? && event.capacity <= @registered.count %>
                    <%= link_to "Class Full", new_attendee_path(:event_id => event.id), class: "btn btn-primary btn-sm disabled" %>
                <% elsif event.time < DateTime.current %>
                    <%= link_to "Event Past", new_attendee_path(:event_id => event.id), class: "btn btn-primary btn-sm disabled" %>
                <% end %>
            <% else %>
                <%= link_to "Register", new_attendee_path(:event_id => event.id), class: "btn btn-primary btn-sm" %> 
            <% end %>       
                <% if (logged_in? && current_user.admin?) || (logged_in? && current_user.evtadmin?) %>
                    <%= link_to "Edit", edit_event_path(event), class: "btn btn-default btn-sm" %> 
                        
                    <%= link_to 'Delete', event_path(event), method: :delete, 
                            data: {confirm: "Are you sure you want to delete this session?"}, 
                            class: "btn  btn-danger btn-sm", style: "color:#FFFFFF;" %>
                <% end %>
            </div>
        
        </div>
     </div> 

     </div>  
</div>    


<% end %>
<% end %>