<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <h2><%= @event.name %></h2>
        <br />
        <h4>Description:</h4>
        <p><%= @event.description %></p>
        <% if @event.eventcats.any? %>
            <p style="margin-top:25px;"><%= render @event.eventcats %>&nbsp;</p>
        <% end %>
        <hr />
        <% if @event.time == nil %>
            <p>No date or time currently set</p>
        <% else %>  
            <p style="font-weight:bold;"><%= @event.time.to_s(:time_display) %></p>
        <% end %>
        <% if @event.venues == [] %>
            <p>No event location set</p>
        <% else %>  
            <% if @event.venues.any? %>
                <% @event.venues.each do |venue| %>
                <p><span style="font-weight:bold;">Event Location:</span> <%= link_to "#{venue.name}", venue_path(venue) %></p>
                <% end %>
            <% end %>
        <% end %>
        <hr />
        <div class="row action-buttons">
        
            <div class="col-md-4 col-md-offset-8">
            
            <%= link_to "Register", login_path, class: "btn btn-primary btn-sm" %>
            
            <% if logged_in? && current_user.admin? %>
                <%= link_to "Edit", edit_event_path(@event), class: "btn btn-default btn-sm" %> 
                
                <%= link_to 'Delete', event_path(@event), method: :delete, 
                        data: {confirm: "Are you sure you want to delete this session?"}, 
                        class: "btn  btn-danger btn-sm", style: "color:#FFFFFF;" %>
            <% end %>
            </div>
        
        </div>
    </div>
</div>

<br /><br />
<p align="center">[ <%= link_to "Back To All Events", events_path %> ]</p>


<br /><br />
<% if logged_in? && current_user.admin? %>
<hr />
<h4 align="center">Currently Registered for Event</h4><br />

<% end %>