<h1 class="page-header">Welcome <%= @current_user.firstname %>!</h1>

<div class="row">
<div class="col-md-7">
<div class="well" style="position: relative;">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "edit profile", edit_user_path(@current_user), class: "edit-link" %>
			<h4><%= "#{@current_user.firstname} #{@current_user.lastname}" %></h4>
			<h5><%= "#{@current_user.company}" %></h5>
			<h5><%= "#{@current_user.email}" %></h5>
			<hr/>
			<h5 style="color:#777777;">Badges Earned <span style="font-size:.75em; font-style: italic;">(not all badges currently available)</span></h5>
			<div class="dash-badges">	
				<% if @badge != nil && @badge.productivity %>
					<div class="d-badge">
						<%= image_tag("badge-productivity.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-productivity.png") %>
					</div>
				<% end %>
				<% if @badge != nil && @badge.visualization %>
					<div class="d-badge">
						<%= image_tag("badge-visualization.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-visualization.png") %>
					</div>	
				<% end %>
				<% if @badge != nil && @badge.security %>
					<div class="d-badge">
						<%= image_tag("badge-security.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-security.png") %>
					</div>
				<% end %>
				<% if @badge != nil && @badge.mobility %>
					<div class="d-badge">
						<%= image_tag("badge-mobility.png") %>
					</div>
				<% else %>
					<div class="d-badge-opacity">
						<%= image_tag("badge-mobility.png") %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>	
</div>
<div class="col-md-5">
	<div class="intro-video">
	<iframe src="https://www.youtube.com/embed/wRmDlf3qs5A?rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
</div>
<br /><br />
<div class="row icons">
	<div class="col-xs-3">
		<%= image_tag("icon-productivity.png") %> <span class="goAway">-</span> <span class="appear"><br /></span>Productivity
	</div>
	<div class="col-xs-3">
		<%= image_tag("icon-visualization.png") %> <span class="goAway">-</span> <span class="appear"><br /></span> Visualization
	</div>
	<div class="col-xs-3">
		<%= image_tag("icon-security.png") %> <span class="goAway">-</span> <span class="appear"><br /></span> Security
	</div>
	<div class="col-xs-3">
		<%= image_tag("icon-mobility.png") %> <span class="goAway">-</span> <span class="appear"><br /></span> Mobility
	</div>
</div>
<table class="dash-video-table" width="100%" style="margin-top: 4px;">
	<tr class="table-heading">
		<th width="15%"></th>
		<th width="65%">Name</th>
		<th width="10%" class="centered">Watched</th>
		<th width="10%" class="centered">Quiz<br />Taken</th>
	</tr>
	<% @videos.each do |video| %>
		<tr class="table-rows">
			<td class="cat-icon">
				<% video.categories.each do |cat| %>
					<% if cat.name == "Productivity" %>
						<%= image_tag("icon-productivity.png") %>
					<% elsif cat.name == "Visualization" %>
						<%= image_tag("icon-visualization.png") %>
					<% elsif cat.name == "Security" %>
						<%= image_tag("icon-security.png") %>
					<% elsif cat.name == "Mobility" %>
						<%= image_tag("icon-mobility.png") %>
					<% else %>

					<% end %>
				<% end %>
			</td>
			<td><%= link_to video.name, video_path(video) %></td>
			<td class="centered">
				<% video.users.each do |user| %>
					<% if user.id == @user.id %> 
					<% UserVideo.where(user_id: @user.id, video_id: video.id).each do |checked| %>
						<% if checked.video_id == video.id %>
							<%= image_tag("checked.png") %>
						<% end %>
					<% end %>
					<% end %>
				<% end %>
			</td>
			<td class="centered">
				<% video.quizzes.each do |quiz| %>
					<% UserQuiz.where(user_id: @user.id, quiz_id: quiz.id).each do |checked| %>
						<% if checked.quiz_id == quiz.id %>
							<%= image_tag("checked.png") %>
						<% end %>
					<% end %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<div id="prodAward">
	<div class="closeIt"></div>
	<h1>WORKS!!</h1>
</div>

<%= render 'layouts/ctas' %>

<% if (flash[:success] == "You earned your PRODUCTIVITY badge!") %>
	<script>
		(function() {
			$('#prodAward').lightbox_me({
			centered: true, 
			zIndex: 9999,
			overlayCSS: {background: '#000000', opacity:.85},
			});
		})();
		$('.closeIt').on ("click", function(e) {
			$('#prodAward').trigger('close');
		});
	</script>
<% end %>
