<h1 class="page-header">Monthly New Users</h1>
<div class="csv_button"><a href="/newusers.csv" class="btn btn-default btn-sm">Download (CSV)</a></div>

<% if @jannewusers.any? %>
<h4>January New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @jannewusers.each do |user| %>
	
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @febnewusers.any? %>
<h4>February New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @febnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>


<br />
<% if @marnewusers.any? %>
<h4>March New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @marnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @aprilnewusers.any? %>
<h4>April New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @aprilnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @maynewusers.any? %>
<h4>May New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @maynewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @junenewusers.any? %>
<h4>June New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @junenewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @julynewusers.any? %>
<h4>July New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @julynewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @augnewusers.any? %>
<h4>August New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @augnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @septnewusers.any? %>
<h4>September New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @septnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @octnewusers.any? %>
<h4>October New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @octnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @novnewusers.any? %>
<h4>November New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @octnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>

<br />
<% if @decnewusers.any? %>
<h4>December New Users</h4>
<div class="well well-sm" style="margin: auto;">
<% @decnewusers.each do |user| %>
	 
    <div class="row">
    <div class="col-sm-3"><%= link_to "#{user.lastname}, #{ user.firstname}", user_path(user) %></div>
    <div class="col-sm-3"><%= user.company %></div>
    <div class="col-sm-3">Created: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.created_at.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    <div class="col-sm-3">Last Login: &nbsp;&nbsp;<span style="font-weight:bold;"><%= user.lastlogin.strftime("%b %d, %Y") if user.lastlogin %></span></div>
    </div>
<% end %>
</div>
<% end %>