<h1 class="page-header">Video Learning Stats</h1>
<h4>All Time</h4>
<div class="row">
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Users</h3>
		<h1 class="huge"><%= @users.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Videos Watched</h3>
		<h1 class="huge"><%= @allwatched.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Quizzes Taken</h3>
		<h1 class="huge"><%= @allquizzed.count %></h1>
	</div>
</div>
</div>

<div class="row">
<div class="col-sm-3">
	<div class="well centered">
		<h3>Productivity<br />Badges</h3>
		<h1 class="huge"><%= @prodbadges.count %></h1>
	</div>
</div>
<div class="col-sm-3">
	<div class="well centered">
		<h3>Visualization<br />Badges</h3>
		<h1 class="huge"><%= @visbadges.count %></h1>
	</div>
</div>
<div class="col-sm-3">
	<div class="well centered">
		<h3>Security<br />Badges</h3>
		<h1 class="huge"><%= @secbadges.count %></h1>
	</div>
</div>
<div class="col-sm-3">
	<div class="well centered">
		<h3>Mobility<br />Badges</h3>
		<h1 class="huge"><%= @mobbadges.count %></h1>
	</div>
</div>
</div>
<br/><br /><hr />
<h4>This Week (past 7 days)</h4>
<div class="row">
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total New Users</h3>
		<h1 class="huge"><%= @usersthisweek.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Videos Watched This week</h3>
		<h1 class="huge"><%= @watchedthisweek.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Quizzes Taken</h3>
		<h1 class="huge"><%= @quizthisweek.count %></h1>
	</div>
</div>
</div>
<br/><br /><hr />
<h4>This Month (past 30 days)</h4>
<div class="row">
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total New Users</h3>
		<h1 class="huge"><%= @usersthismonth.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Videos Watched This week</h3>
		<h1 class="huge"><%= @watchedthismonth.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Quizzes Taken</h3>
		<h1 class="huge"><%= @quizthismonth.count %></h1>
	</div>
</div>
</div>
<br/><br /><hr />
<h4>This Quarter (past 3 months)</h4>
<div class="row">
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total New Users</h3>
		<h1 class="huge"><%= @usersthisquarter.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Videos Watched This week</h3>
		<h1 class="huge"><%= @watchedthisquarter.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Quizzes Taken</h3>
		<h1 class="huge"><%= @quizthisquarter.count %></h1>
	</div>
</div>
</div>

