<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo" style="padding-top:8px;">
      <%= link_to image_tag("thinMan.png"), root_path %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>-->
        <% if logged_in? && current_user.admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Videos", videos_path %></li>
            <li><%= link_to "Categories", categories_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Quizzes", quizzes_path %></li>
            <li><%= link_to "Questions", questions_path %></li>
            <li><%= link_to "Answers", answers_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Video Stats", stats_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Event Categories", eventcats_path %></li>
            <li><%= link_to "Venues", venues_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <!--<li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li style="font-style:italic; padding-right:50px; font-size: .85em;"><a href="mailto:bharned@thinmanager.com?subject=Video Learning Issue Report">Having technical issues?</a></li>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <!--<li><%= link_to "Login", login_path %></li>-->
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="appear">Support </span><span class="goAway glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <span class="appear"><span class="caret"></span></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.thinmanager.com">ThinManager.com</a></li>
            <li><a href="http://www.thinmanager.com/support/">ThinManager Support</a></li>
            <li><a href="http://www.thinmanager.com/acp/contactus.php">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>