<!DOCTYPE html>
<html>
  <head>
    <title>ThinManager Video Learning</title>
    <meta name="description" content="Self paced training for ThinManager Software focused on individual features and feature quizzes." />
    <meta name="keywords" content="thinmanager, thin client software, thin client server software, learn thinmanager, thinmanager training"/>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Start of Async HubSpot Analytics Code -->
   
   <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THJFRX');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THJFRX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
  <%= render 'layouts/navbar' %>
  <div class="container" style="min-height: 800px; padding-bottom: 100px;">
    <%= render 'layouts/messages' %>  
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </body>    
</html>
