<!DOCTYPE html>
<html>
  <head>
    <title>ThinManager Video Learning</title>
    <meta name="description" content="Self paced training for ThinManager Software focused on individual features and feature quizzes." />
    <meta name="keywords" content="thinmanager, thin client software, thin client server software, learn thinmanager, thinmanager training"/>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Start of Async HubSpot Analytics Code -->
   
   <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;} 
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/87975.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24035794-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-24035794-10');
    </script>

  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <div class="container" style="min-height: 800px; padding-bottom: 100px;">
    <%= render 'layouts/messages' %>  
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </body>    
</html>
